/* 全体の設定 */
body {
    font-family: "Squada One", sans-serif;
    background: #000e12;
    color: #daf6ff;
}
/* ---------- */

/* 背景のビデオの設定 */
#bg-video{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

@media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) 
{
    #bg-video {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-aspect-ratio: 16/9) 
{
    #bg-video {
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* ----------------- */

/* PCの文字とホバーしたときの四角い枠の設定 */
.PC {
    display: table;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.PC a {
    display: table-cell;
    font-size: 6em;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: background 1s, border-width 0.5s cubic-bezier(0.075,0.82,0.165,1), text-shadow 0.5s;
    color: #313131;
    -webkit-text-stroke: 1.25px rgb(172, 172, 172);
    text-shadow: 0 0 20px #fff, 0 0 20px rgba(10,175,230,0);
    box-shadow: 0 0 0 rgba(10,175,230,0), inset 0 0 0 rgba(10,175,230,0);
    background-image: radial-gradient(center,ellipse cover,rgba(10,175,230,0) 0%,rgba(10,175,230,0) 90%);
    border: 5 dotted rgba(10,175,230,0);
}

.PC a:hover {
    color: #fff;
    -webkit-text-stroke: 0px rgb(255, 255, 255);
    text-shadow: 0 0 50px #0aafe6, 0 0 50px #0aafe6;
    background-image: radial-gradient(center,ellipse cover,rgba(10,175,230,0.3) 0%,rgba(10,175,230,0) 60%);
}

.PC:before,
.PC:after,
.PC a:before,
.PC a:after {
    transition: 0.5s ease-in-out;
    content: "";
    display: block;
    position: absolute;
    border: 60px dashed transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.PC:before {
    animation: rotate 5s linear 0s infinite;
    width: 60%;
    height: 60%;
    border: 3px dotted rgba(10,175,230,0.03);
    z-index: -1;
}

.PC:after {
    animation: rotate 12s linear 0s infinite reverse;
    border: 50px dashed rgba(10,175,230,0.01);
    width: 150%;
    height: 150%;
    z-index: -2;
}

.PC a:before {
    animation: rotate 6s linear 0s infinite reverse;
    width: 95%;
    height: 95%;
    border: 10px dashed rgba(10,175,230,0.015);
}

.PC a:after {
    animation: rotate 4s linear 0s infinite reverse;
    border: 10px dashed rgba(10,175,230,0);
    width: 30%;
    height: 30%;
}

.PC:hover:before {
    border-color: rgba(255, 255, 255, 0.7);
}

.PC:hover:after {
    border-color: rgba(10, 230, 83, 0.5);
}

.PC:hover a:before {
    border-color: rgba(255, 0, 0, 0.6);
}

.PC:hover a:after {
    border-color: rgba(215, 230, 10, 0.7);
}
/* ---------------------------------------- */

/* Mobileの文字とホバーしたときの四角い枠の設定 */
.Mobile {
    display: table;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Mobile a {
    display: table-cell;
    font-size: 6em;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: background 1s, border-width 0.5s cubic-bezier(0.075,0.82,0.165,1), text-shadow 0.5s;
    color: #313131;
    -webkit-text-stroke: 1.25px rgb(172, 172, 172);
    text-shadow: 0 0 20px #fff, 0 0 20px rgba(10,175,230,0);
    box-shadow: 0 0 0 rgba(10,175,230,0), inset 0 0 0 rgba(10,175,230,0);
    background-image: radial-gradient(center,ellipse cover,rgba(10,175,230,0) 0%,rgba(10,175,230,0) 90%);
    border: 0 dotted rgba(10,175,230,0);
}

.Mobile a:hover {
    color: #fff;
    -webkit-text-stroke: 0px rgb(255, 255, 255);
    text-shadow: 0 0 50px #0aafe6, 0 0 50px #0aafe6;
    background-image: radial-gradient(center,ellipse cover,rgba(10,175,230,0.3) 0%,rgba(10,175,230,0) 60%);
}

.Mobile:before,
.Mobile:after,
.Mobile a:before,
.Mobile a:after {
    transition: 0.5s ease-in-out;
    content: "";
    display: block;
    position: absolute;
    border: 60px dashed transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Mobile:before {
    animation: rotate 9s linear 0s infinite;
    width: 80%;
    height: 80%;
    border: 3px dotted rgba(10,175,230,0.03);
    z-index: -1;
}

.Mobile:after {
    animation: rotate 12s linear 0s infinite;
    border: 70px dashed rgba(10,175,230,0.01);
    width: 120%;
    height: 120%;
    z-index: -2;
}

.Mobile a:before {
    animation: rotate 12s linear 0s infinite reverse;
    width: 117%;
    height: 117%;
    border: 40px dashed rgba(10,175,230,0.015);
}

.Mobile a:after {
    animation: rotate 4s linear 0s infinite reverse;
    border: 10px dashed rgba(10,175,230,0);
    width: 30%;
    height: 30%;
}

.Mobile:hover:before {
    border-color: rgba(255, 255, 255, 0.7);
}

.Mobile:hover:after {
    border-color: rgba(10, 230, 83, 0.5);
}

.Mobile:hover a:before {
    border-color: rgba(255, 0, 0, 0.6);
}

.Mobile:hover a:after {
    border-color: rgba(215, 230, 10, 0.7);
}
/* -------------------------------------------- */

/* 四角い枠の回転アニメーションの設定 */
@keyframes rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
/* ------------------------------------ */

/* 下の小さな文字の設定 */
/* 横長の画面（PC）で見たときの設定 */
@media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) 
{
    p.caption {
        font-size: 25px;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        letter-spacing: 0.2em;
        text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10,175,230,0);
    }
}

/* 縦長の画面（スマホ）で見たときの設定 */
@media (max-aspect-ratio: 16/9) 
{
    p.caption {
        font-size: 27px;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        letter-spacing: 0.2em;
        text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10,175,230,0);
    }
}
/* -------------------- */

/*Copyright (c) 2012 - Toshiyuki TAKAHASHI - https://codepen.io/gau/pen/ogqjzw

Permission is hereby granted, free of charge, to any person 
obtaining a copy of this software and associated documentation 
files (the "Software"), to deal in the Software without restriction,
 including without limitation the rights to use, copy, modify, 
merge, publish, distribute, sublicense, and/or sell copies of 
the Software, and to permit persons to whom the Software is 
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall 
be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES 
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
DEALINGS IN THE SOFTWARE.*/