body {
    font-family: "Squada One", sans-serif;
    background: #000e12;
    color: #daf6ff;
}

.bluelight {
    display: table;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.bluelight a {
    display: table-cell;
    font-size: 3em;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: background 1s, border-width 0.5s cubic-bezier(0.075,0.82,0.165,1), text-shadow 0.5s;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10,175,230,0);
    box-shadow: 0 0 0 rgba(10,175,230,0), inset 0 0 0 rgba(10,175,230,0);
    background-image: radial-gradient(center,ellipse cover,rgba(10,175,230,0) 0%,rgba(10,175,230,0) 90%);
    border: 0 dotted rgba(10,175,230,0);
}

.bluelight a:hover {
    color: #fff;
    text-shadow: 0 0 50px #0aafe6, 0 0 50px #0aafe6;
    background-image: radial-gradient(center,ellipse cover,rgba(10,175,230,0.3) 0%,rgba(10,175,230,0) 60%);
}

.bluelight:before,
.bluelight:after,
.bluelight a:before,
.bluelight a:after {
    transition: 0.5s ease-in-out;
    content: "";
    display: block;
    position: absolute;
    border: 60px dashed transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.bluelight:before {
    animation: rotate 9s linear 0s infinite reverse;
    width: 80%;
    height: 80%;
    border: 3px dotted rgba(10,175,230,0.03);
    z-index: -1;
}

.bluelight:after {
    animation: rotate 12s linear 0s infinite reverse;
    border: 70px dashed rgba(10,175,230,0.01);
    width: 120%;
    height: 120%;
    z-index: -2;
}

.bluelight a:before {
    animation: rotate 12s linear 0s infinite;
    width: 117%;
    height: 117%;
    border: 40px dashed rgba(10,175,230,0.015);
}

.bluelight a:after {
    animation: rotate 4s linear 0s infinite;
    border: 10px dashed rgba(10,175,230,0);
    width: 30%;
    height: 30%;
}

.bluelight:hover:before {
    border-color: rgba(10,175,230,0.7);
}

.bluelight:hover:after {
    border-color: rgba(10,175,230,0.1);
}

.bluelight:hover a:before {
    border-color: rgba(255, 255, 255, 0.2);
}

.bluelight:hover a:after {
    border-color: rgba(10,175,230,0.4);
}

@keyframes rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

p.caption {
    font-size: 0.7em;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    letter-spacing: 0.2em;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10,175,230,0);
}

/*Copyright (c) 2012 - Toshiyuki TAKAHASHI - https://codepen.io/gau/pen/ogqjzw

Permission is hereby granted, free of charge, to any person 
obtaining a copy of this software and associated documentation 
files (the "Software"), to deal in the Software without restriction,
 including without limitation the rights to use, copy, modify, 
merge, publish, distribute, sublicense, and/or sell copies of 
the Software, and to permit persons to whom the Software is 
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall 
be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES 
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
DEALINGS IN THE SOFTWARE.*/