/* contentクラス直属の子の動画や画像、iframeの設定 */
.content > img, .content > video, .content > iframe {
    width: 97%;
    height: 520px;
    box-shadow: 10px rgba(0, 0, 0, 0.25);
}
/* -------------------------------------------- */

/* スクロール下の全ての子の動画や画像、iframrの設定*/
.wide-scroll video, img, iframe {
    width: 92%;
    height: 440px;
    box-shadow: 10px rgba(0, 0, 0, 0.25);
}
/* ------------------------------------------- */

/* 横スクロールの設定*/
.wide-scroll ul{
	display: flex;
	overflow-x: scroll;
}
.wide-scroll li{
	min-width: 92%;
	list-style: none;
}
/* ---------------- */

#top, #personalproduction, #coproduction, #shader, #intern, #soundanalize, #vc_stage1, #telephoto{
    margin-top: -75px;
    padding-top: 90px;
}