@media screen and (max-width: 780px)
{
    .content video, img, iframe{
        width: 560px;
        height: 315px;
        margin-bottom: 40px;
        box-shadow: 10px rgba(0, 0, 0, 0.25);
    }
    
    #top, #personalproduction, #coproduction, #shader, #intern, #soundanalize, #vc_stage1, #telephoto{
        margin-top: -75px;
        padding-top: 90px;
    }
}

@media screen and (min-width: 781px)
{
    .content video, img, iframe, .bxslider li{
        justify-content: center;
        width: 768px;
        height: 432px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }
    
    .content video, img, iframe{
        margin-bottom: 40px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }
    
    #top, #personalproduction, #coproduction, #shader, #intern, #soundanalize, #vc_stage1, #telephoto, #vc_stage2, #vc_vroidstage{
        margin-top: -75px;
        padding-top: 90px;
    }

    ul.bxslider li {
        width: 560px;
        height: auto;
        position: relative;
    }

    ul.bxslider li img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}