.top{
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 0, 0);
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.box1{
    z-index: 2;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: 13;
    position: fixed;
    top: 10px;
    left: 20px;
    width: 60px;
    height: 60px;
    transform: scale(0.9) rotate(-70deg);
    background: rgb(255, 85, 85);
}

.box2{
    z-index: 2;
    box-shadow: 0px 0px 17.5px 0px rgba(0, 0, 0, 0.25);
    z-index: 12;
    position: fixed;
    top: 10px;
    left: 20px;
    width: 60px;
    height: 60px;
    transform: scale(0.875) rotate(-45deg);
    background: rgb(246, 255, 115);
}

.box3{
    z-index: 2;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    z-index: 11;
    position: fixed;
    top: 10px;
    left: 20px;
    width: 60px;
    height: 60px;
    transform: scale(0.85) rotate(-20deg);
    background: rgb(56, 255, 49);
}

.top h1{
    font-size: 16px;
    margin-top: 77px;
}

.headerback {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background: rgb(61, 81, 148);
}

.headerback .header {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.headerback .header li {
    position: relative;
    list-style: none;
    box-sizing: border-box;
    border-left: 1px solid #eee;
}

.headerback .header li a {
    display: block;
    width: 60px;
    height: 100px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 3.7;
    background: rgb(61, 81, 148);
    box-sizing: border-box;
    text-decoration: none;
}

.headerback .header li:first-child {
    border-left: 1px solid #eee;
}

.headerback .header li:last-child {
    border-right: 1px solid #eee;
}

.headerback .header > li:hover > a {/*layer-1*/
    color: orange;
    background: rgba(128, 255, 78, 0.4);
}

.headerback .header > li li:hover > a {/*layer-2*/
    color: olive;
    background: rgba(128, 255, 78, 0.4);
}

.headerback .header li ul {
    top: 100px;
    left: -100px;
    position: absolute;
}

.headerback .header li ul li {
    overflow: hidden;
    height: 0;
}

.headerback .header li ul li a {
    border-top: 1px solid #eee;
}

.headerback .header li:hover > ul > li {
    overflow: visible;
    height: 100px;
}

.headerback .header li ul li ul {
    top: 0;
    left: 20px;
}

.headerback .header li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
}
    
.headerback .header li ul li ul li:hover > a {/*layer-3*/
    color: pink;
    background: #afc6e2;
}

.headerback .header li ul li ul.left {
    top: 0;
    left: -100px;
}

.headerback .header li ul li ul.left:before,/*layer-2-left▷*/
.headerback .header li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 100px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
}

.headerback .header li ul li ul.left li:hover > a {/*layer-2-left*/
    color: pink;
    background: #afc6e2;
}

.headerback .header li ul li ul li ul.left li:hover > a {/*layer-3-left*/
    color: purple;
    background: #afc6e2;
}

@media (min-width: 769px) {
    .headerback {
        overflow: visible;
    }
    
    .headerback .header {
        width: 60%;
    }
    
    .headerback .header li {
        box-sizing: border-box;
    }
    
    .headerback .header li a {
        display: block;
        width: 150px;
        height: 100px;
        font-size: 28px;
        line-height: 3.7;
    }
    
    .headerback .header li:first-child {
        border-left: 1px solid #eee;
    }
    
    .headerback .header li:last-child {
        border-right: 1px solid #eee;
    }
    
    .headerback .header li ul li ul {
        top: 0;
        left: 110px;
    }
    
    .headerback .header li ul li ul:before {/*layer-2▷*/
        left: 30px;
    }
    
    .headerback .header li ul li ul.left {
        left: -190px;
    }
    
    .headerback .header li ul li ul.left:before,/*layer-2-left▷*/
    .headerback .header li ul li ul li ul.left:before {/*layer-3-left▷*/
        left: 190px;
    }
}

.fotterback {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background: rgb(170, 169, 169);
}

.fotterback .fotter {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.fotterback .fotter li {
    position: relative;
    list-style: none;
    box-sizing: border-box;
    border-left: 1px solid #eee;
}

.fotterback .fotter li a {
    display: block;
    width: 60px;
    height: 100px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 3.2;
    background: rgb(170, 169, 169);
    box-sizing: border-box;
    text-decoration: none;
}

.fotterback .fotter li:first-child {
    border-left: 1px solid #eee;
}

.fotterback .fotter li:last-child {
    border-right: 1px solid #eee;
}

.fotterback .fotter > li:hover > a {/*layer-1*/
    color: orange;
    background: rgba(185, 0, 154, 0.4);
}

.fotterback .fotter > li li:hover > a {/*layer-2*/
    color: olive;
    background: rgba(185, 0, 154, 0.4);
}

.fotterback .fotter li ul {
    top: 100px;
    left: -100px;
    position: absolute;
}

.fotterback .fotter li ul li {
    overflow: hidden;
    height: 0;
}

.fotterback .fotter li ul li a {
    border-top: 1px solid #eee;
}

.fotterback .fotter li:hover > ul > li {
    overflow: visible;
    height: 100px;
}

.fotterback .fotter li ul li ul {
    top: 0;
    left: 20px;
}

.fotterback .fotter li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
}
    
.fotterback .fotter li ul li ul li:hover > a {/*layer-3*/
    color: pink;
    background: #afc6e2;
}

.fotterback .fotter li ul li ul.left {
    top: 0;
    left: -100px;
}

.fotterback .fotter li ul li ul.left:before,/*layer-2-left▷*/
.fotterback .fotter li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 100px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
}

.fotterback .fotter li ul li ul.left li:hover > a {/*layer-2-left*/
    color: pink;
    background: #afc6e2;
}

.fotterback .fotter li ul li ul li ul.left li:hover > a {/*layer-3-left*/
    color: purple;
    background: #afc6e2;
}

@media (min-width: 769px) {
    .fotterback {
        overflow: visible;
    }
    
    .fotterback .fotter {
        width: 60%;
    }
    
    .fotterback .fotter li {
        box-sizing: border-box;
    }
    
    .fotterback .fotter li a {
        display: block;
        width: 150px;
        height: 100px;
        font-size: 28px;
        line-height: 3.7;
    }
    
    .fotterback .fotter li:first-child {
        border-left: 1px solid #eee;
    }
    
    .fotterback .fotter li:last-child {
        border-right: 1px solid #eee;
    }
    
    .fotterback .fotter li ul li ul {
        top: 0;
        left: 110px;
    }
    
    .fotterback .fotter li ul li ul:before {/*layer-2▷*/
        left: 30px;
    }
    
    .fotterback .fotter li ul li ul.left {
        left: -190px;
    }
    
    .fotterback .fotter li ul li ul.left:before,/*layer-2-left▷*/
    .fotterback .fotter li ul li ul li ul.left:before {/*layer-3-left▷*/
        left: 190px;
    }
}

.pagetop{
    z-index: 22;
    position: fixed;
    right: 10px;
    bottom: 120px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 88px;
    border-radius: 50%;
    background-color: rgba(172, 172, 172, 0.95);
    transition: all 1000ms 0s ease-in-out;
}

.pagetop a{
    position: relative;
    top: -5%;
    left: -17%;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.pagetop a:before{
    position: relative;
    content: "↑";
    top: -35%;
    left: 45%;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.content{
    z-index: -2;
    position: absolute;
    top: 100px;
    left: 20px;
    height: 150%;
    background-color: rgb(255, 255, 255);
}

.content h2::before {
    width: 100px;
    height: 100px;
    background-color: blue;
}
  
.content h2::after {
    content: '';
    position: relative;
    display: block;
    top: -2px;
    left: 0%;
    width: 900px;
    height: 2px;
    background-color: black;
}

.content video, img, iframe{
    width: 560px;
    height: 315px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.content video, img, iframe{
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

#top, #script, #vrchat, #shader, #intern, #soundanalize, #vc_stage1, #telephoto{
    margin-top: -75px;
    padding-top: 90px;
}

@keyframes topmove {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0px);
    }
}